[data-type="emphasis"] {
  color: var(--clr-primary-100);
  font-style: normal;
  font-size: var(--step-3);
  font-weight: 900;
  text-transform: uppercase;
  font-family: var(--ff-headings);
  margin-block-end: 1rem;
}
