.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--space-xxs, 1rem);

  > * {
    display: grid;
    place-items: center;
  }

  svg {
    inline-size: 100%;
  }
}
