.button {
  max-inline-size: fit-content;
  border: 2px solid var(--color-bg);
  border-radius: 1em;
  transition: background-color 300ms ease-in-out;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    --color-bg: var(--clr-neutral-100);
    --color-fg: var(--clr-neutral-300);
    border-color: var(--color-fg);
  }
}
