.navigation > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-l, 2rem);

  button,
  a {
    display: block;
    padding: 0;
    color: var(--clr-neutral-200);
  }

  button:hover,
  a:hover,
  .button:hover a {
    transition: color 200ms ease;
    color: var(--clr-neutral-300);
  }
}

// Seperate out login and register
burger-menu {
  flex-grow: 1;
}

.login,
.burger-menu__trigger {
  margin-inline-start: auto;
}
